html {
  background-color: #222;
}

.usersList {
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
  height: calc(80vh - 70px);
  overflow-y: auto;
  overflow-x: hidden;
}

.messagesList {
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
  height: calc(80vh - 170px);
  overflow-y: auto;
  overflow-x: hidden;
}

.userBubble {
  position:relative;
  padding:5px;
  width:50%;
  margin-bottom: -1em;
  margin-right:50px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}


